.leftside {
  position: relative;
  height: 100vh;
}
.leftside img {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 768px) {
  .leftside {
    height: fit-content;
  }
  .leftside img {
    width: 100%;
    position: relative;
  }
}
