.ThankYou {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: var(--White);
  z-index: 1;
}
.ThankYou div {
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 1em 1em;
}
.ThankYou p {
  color: var(--Dark-grayishviolet);
}
.ThankYou h4 {
  letter-spacing: 0.1em;
}
.continueBtn {
  background-color: var(--Very-darkviolet);
  color: var(--White);
  text-transform: capitalize;
  margin: 0.5em 0;
  outline: none;
  border: none;
  border-radius: 6px;
  width: 100%;
  padding: 10px;
}
@media (max-width: 576px) {
  .ThankYou P {
    font-size: 14px;
  }
}
