.Cards {
  position: absolute;
  left: 10%;
  z-index: 1;
  background: transparent;
}
@media (max-width: 768px) {
  .Cards {
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    padding-right: 2em;
    align-items: center;
    flex-direction: column-reverse;
  }
}
@media (max-width: 576px) {
  .Cards {
    align-items: center;
    flex-direction: column-reverse;
  }
}
