:root {
  /* --border: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) 1; */
  --boder-color: hsl(249, 99%, 64%);
}

.rightside {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  color: var(--Very-darkviolet);
}
form > label,
form > div {
  margin: 0.5em 0;
}
form span {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}
input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid hsl(279, 6%, 55%);
  border-radius: 6px;
}
input:focus-visible {
  border-color: var(--boder-color);
  border-radius: 6px;
}
.error-input {
  border: 1px solid var(--Red--input-errors);
}
.error {
  font-size: 12px;
  text-transform: none;
  color: hsl(0, 100%, 66%);
  margin: 0;
}
label {
  text-transform: uppercase;
}
.submitBtn {
  background-color: var(--Very-darkviolet);
  color: var(--White);
  text-transform: capitalize;
  margin: 0.5em 0;
}
